<div id="graph-view">
  <svg id="graph-svg"></svg>
  <div id="graph-tip"></div>
  <div id="g-legend">
    <div id="g-legend-header">
      <span class="gl-title" style="margin-bottom:0">Leyenda</span>
      <button id="g-legend-toggle" onclick="toggleGraphLegend()" title="Ocultar leyenda">&#8722;</button>
    </div>
    <div id="g-legend-body"></div>
  </div>
  <div id="g-controls">
    <button class="gcb" onclick="gReset()" title="Reset">⊙</button>
    <button class="gcb" onclick="gZoom(1.4)">+</button>
    <button class="gcb" onclick="gZoom(0.7)">−</button>
  </div>
</div>
